Repository trippixn963/QuranBot: changes, and which pre-commit hooks are due for each by the changed paths.
All: islamic-content-validation, config-validation

Path conditions:
  islamic-content-validation: any of: data/.*\.(json|py)$, but not: (?x)^(
  .*\.min\.(js|css)$|
  .*\.map$|
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  __pycache__/.*|
  \.venv/.*|
  venv/.*|
  node_modules/.*|
  logs/.*|
  audio/.*|
  backup/.*|
  \.env.*|
  .*\.log$
)$

  config-validation: any of: config/.*\.(py|toml|env)$, but not: (?x)^(
  .*\.min\.(js|css)$|
  .*\.map$|
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  __pycache__/.*|
  \.venv/.*|
  venv/.*|
  node_modules/.*|
  logs/.*|
  audio/.*|
  backup/.*|
  \.env.*|
  .*\.log$
)$


Fix ConfigService imports: update to use new config system with standalone functions
  src/bot/modernized_bot.py
  src/services/audio_service.py
Due: none

Fix ConfigService imports in all command files: update to use new config system
  src/commands/credits.py
  src/commands/dua.py
  src/commands/interval.py
  src/commands/leaderboard.py
  src/commands/question.py
  src/commands/test_prayer.py
  src/commands/verse.py
Due: none

Fix ConfigService imports in quiz_manager.py: update to use new config system
  src/utils/quiz_manager.py
Due: none

Fix ConfigService import in mecca_prayer_times.py: update to use new config system
  src/utils/mecca_prayer_times.py
Due: none

Fix BotConfig import: update to use QuranBotConfig from new config system
  src/bot/modernized_bot.py
Due: none

Fix BotConfig import in enhanced_webhook_router.py: update to use QuranBotConfig
  src/core/enhanced_webhook_router.py
Due: none

Fix BotConfig import in webhook_service_factory.py: update to use QuranBotConfig
  src/core/webhook_service_factory.py
Due: none

Fix webhook service factory: update to use new config system attribute names
  src/core/webhook_service_factory.py
Due: none

Fix cache service configuration - add missing cache strategy and level fields
  src/bot/modernized_bot.py
  src/config/config.py
Due: config-validation

Add missing default_volume configuration field
  src/config/config.py
Due: config-validation

Fix screenshot filename encoding issues
  images/screenshots/Screenshot 2025-07-30 at 6.40.54 AM.png
  images/screenshots/Screenshot 2025-07-30 at 6.41.06 AM.png
  images/screenshots/Screenshot 2025-07-30 at 6.41.27 AM.png
  images/screenshots/Screenshot 2025-07-30 at 6.41.41 AM.png
  main.py
  main_backup.py
  main_new.py
  src/bot/modernized_bot.py
Due: none

Add audio_base_folder property to fix audio service initialization
  src/config/config.py
Due: config-validation

Fix GitHub URLs in README
  README.md
Due: none

Add preload_metadata configuration field
  src/config/config.py
Due: config-validation

Add cache_enabled configuration field
  src/config/config.py
Due: config-validation

Major README improvements and professional polish
  README.md
Due: none

Add missing connection_timeout configuration field for voice connections
  src/config/config.py
Due: config-validation

Add missing playback_buffer_size configuration field for audio playback
  src/config/config.py
  src/version.py
Due: config-validation

Bump version to 4.1.0 - Open Source Release
  src/config/config.py
  src/version.py
Due: config-validation

Add missing enable_reconnection configuration field for voice connections
  src/config/config.py
Due: config-validation

Fix CI/CD pipeline issues
  .github/workflows/ci.yml
Due: none

Add Dockerfile for containerization
  Dockerfile
Due: none

Fix security module imports and dependencies
  src/security/__init__.py
  src/security/error_handler.py
Due: none

Update webhook system: change all automated webhooks to 1-hour intervals, add bot thumbnail to all embeds, simplify footer to show only date/time
  src/core/health_monitor.py
  src/core/heartbeat_monitor.py
  src/core/main.py
  src/core/performance_monitor.py
  src/core/webhook_logger.py
  src/services/metadata_cache.py
  src/utils/audio_manager.py
  src/utils/quiz_manager.py
Due: none

Fix code quality issues and expand test coverage
  main_backup.py
  src/commands/question.py
  src/commands/test_prayer.py
  src/core/main.py
  src/core/webhook_logger.py
  src/security/error_handler.py
  src/security/validators.py
  src/services/state_service.py
  src/utils/__init__.py
  src/utils/quiz_manager.py
  src/utils/test_multi_channel_webhooks.py
  src/utils/test_webhook_alerts.py
  src/version.py
  tests/test_integration_comprehensive.py
Due: none

Add comprehensive webhook logging for all user interactions: quiz events, role management, embed deletions, and voice channel activity
  src/core/main.py
Due: none

Fix import error: remove TestPrayerCog from commands __init__.py
  src/commands/__init__.py
Due: none

refactor: Clean up root directory structure and organize documentation
  .gitignore
  DEPLOYMENT.md
  config/.env.example
  config/pyproject.toml
  docs/CONFIG_MIGRATION.md
  docs/INSTALLATION.md
  docs/PERFORMANCE_PROFILING.md
  docs/POETRY_SETUP.md
  docs/SECURITY_NOTICE.md
Due: config-validation

Fix webhook initialization error: change DEVELOPER_ID to developer_id (lowercase)
  src/core/enhanced_webhook_router.py
Due: none

Fix webhook fallback URL: change DISCORD_WEBHOOK_URL to discord_webhook_url (lowercase)
  src/core/enhanced_webhook_router.py
Due: none

Simplify data folder structure - rename long filenames to shorter, cleaner names
  WEBHOOK_MONITORING_SUMMARY.md
  data/cache.json
  data/knowledge.json
  data/metadata_cache.json
  data/prayer_cache.json
  data/presence.json
  data/quiz.json
  data/quiz_bilingual.json
  data/quiz_expanded.json
  data/state.json
  data/syrian_knowledge.json
  data/verses.json
  src/commands/backup_manager.py
  src/commands/quiz_editor.py
  src/core/main.py
  src/monitoring/daily_reporter.py
  src/monitoring/system_monitor.py
  src/services/audio_service.py
  src/services/data_manager.py
  src/services/islamic_ai_service.py
  src/services/state_service.py
  src/utils/prayer_times.py
  src/utils/presence.py
  src/utils/quiz_manager.py
  src/utils/verses.py
  tools/interval_monitor.py
  tools/set_quiz_interval.py
Due: islamic-content-validation

Implement hybrid data system with simplified filenames and new management commands
  src/commands/__init__.py
  src/core/main.py
  src/monitoring/daily_reporter.py
  src/monitoring/system_monitor.py
Due: none

Fix command setup functions to match existing pattern
  src/commands/backup_manager.py
  src/commands/quiz_editor.py
Due: none

Remove Discord commands and add automatic backup system
  src/commands/__init__.py
  src/commands/backup_manager.py
  src/commands/quiz_editor.py
  src/core/main.py
  src/services/data_manager.py
Due: none

Fix HybridDataManager initialization parameters
  src/core/main.py
Due: none

Fix config field access for daily_verse_channel_id
  src/core/main.py
Due: none

Fix /verse command by ensuring daily_verse_manager is initialized
  src/commands/verse.py
Due: none

Fix all DAILY_VERSE_CHANNEL_ID references to use lowercase daily_verse_channel_id
  src/bot/modernized_bot.py
  src/commands/question.py
  src/commands/verse.py
  src/core/webhook_logger.py
  src/utils/prayer_times.py
  src/utils/webhook_utils.py
  test_webhook_footer.py
Due: none
