Repository trippixn963/QuranBot: changes, and which pre-commit hooks are due for each by the changed paths.
All: islamic-content-validation, config-validation

Path conditions:
  islamic-content-validation: any of: data/.*\.(json|py)$, but not: (?x)^(
  .*\.min\.(js|css)$|
  .*\.map$|
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  __pycache__/.*|
  \.venv/.*|
  venv/.*|
  node_modules/.*|
  logs/.*|
  audio/.*|
  backup/.*|
  \.env.*|
  .*\.log$
)$

  config-validation: any of: config/.*\.(py|toml|env)$, but not: (?x)^(
  .*\.min\.(js|css)$|
  .*\.map$|
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  __pycache__/.*|
  \.venv/.*|
  venv/.*|
  node_modules/.*|
  logs/.*|
  audio/.*|
  backup/.*|
  \.env.*|
  .*\.log$
)$


Add comprehensive validation system to catch startup issues before bot runs
  start_bot.py
  test_webhook_footer.py
  tools/pre_commit_validation.py
  tools/validate_and_start.py
  tools/validate_bot_startup.py
Due: none

Add validation system documentation
  tools/README_VALIDATION.md
Due: none

Fix quiz display to handle current data format - Arabic text now shows properly
  src/commands/question.py
  src/utils/quiz_manager.py
Due: none

Enhanced quiz embeds to always display both Arabic and English text when available
  data/quiz.json
  data/quiz_bilingual.json
  data/quiz_expanded.json
  src/commands/question.py
  src/utils/quiz_manager.py
Due: islamic-content-validation

Fix DEVELOPER_ID config property name to use lowercase developer_id
  src/commands/question.py
  src/utils/quiz_manager.py
Due: none

Fix admin footer profile picture display with proper null checks and error handling
  src/commands/dua.py
  src/commands/interval.py
  src/commands/leaderboard.py
  src/commands/question.py
  src/commands/verse.py
  src/core/security.py
  src/services/islamic_ai_listener.py
  src/services/islamic_ai_service.py
  src/utils/prayer_times.py
  src/utils/quiz_manager.py
  src/utils/verses.py
Due: none

Remove '❓ Islamic Knowledge Quiz' title from question embeds - start directly with question
  src/commands/question.py
  src/utils/quiz_manager.py
Due: none

Add missing log_quiz_event method to webhook router for quiz interaction logging
  data/quiz.json
  src/core/webhook_router.py
Due: islamic-content-validation

Add user avatar thumbnails to quiz event webhook embeds for better visual appeal
  src/core/webhook_logger.py
Due: none

Enhanced quiz shuffling system with 72-hour protection - increased tracking to 72 questions and added timestamp-based filtering
  data/quiz.json
  src/core/webhook_logger.py
  src/utils/quiz_manager.py
Due: islamic-content-validation

Fix verse command by correcting DailyVerseManager import and initialization
  data/quiz.json
  src/commands/verse.py
  src/core/webhook_logger.py
  src/utils/webhook_utils.py
Due: islamic-content-validation

Fix verse command: correct daily_verses_manager variable references and ensure proper reaction system
  WEBHOOK_MONITORING_SUMMARY.md
  data/quiz.json
  scripts/validate_config.py
  scripts/validate_islamic_content.py
  src/analytics/__init__.py
  src/analytics/user_listening_analytics.py
  src/caching/__init__.py
  src/caching/redis_cache.py
  src/commands/verse.py
  src/core/database.py
  src/core/logger.py
  src/core/main.py
  src/core/webhook_logger.py
  src/core/webhook_router.py
  src/monitoring/__init__.py
  src/monitoring/daily_reporter.py
  src/monitoring/performance_monitor.py
  src/monitoring/prometheus_metrics.py
  src/monitoring/system_monitor.py
  src/services/audio_service.py
  src/services/data_manager.py
  src/services/database_service.py
  src/services/islamic_ai_service.py
  src/services/islamic_calendar_service.py
  src/services/memory_service.py
  src/services/state_service.py
  src/services/translation_service.py
Due: islamic-content-validation

Add comprehensive webhook logging for verse reactions - log both dua reactions and unauthorized reaction removals
  data/verses.json
  src/commands/verse.py
  src/core/main.py
  src/monitoring/performance_decorators.py
  src/monitoring/performance_monitor.py
Due: islamic-content-validation

Add comprehensive webhook logging for audio playback, command usage, system health, and user engagement tracking
  data/verses.json
  main.py
  src/commands/question.py
  src/commands/verse.py
  src/core/database.py
  src/core/main.py
  src/monitoring/daily_reporter.py
  src/monitoring/prometheus_metrics.py
  src/services/audio_service.py
  src/utils/api_monitor.py
Due: islamic-content-validation

Add comprehensive webhook logging for database/state management, security/access control, and performance/resource monitoring
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/DISCUSSION_TEMPLATE/general.yml
  .github/DISCUSSION_TEMPLATE/islamic-content.yml
  .github/DISCUSSION_TEMPLATE/support.yml
  .github/ISSUE_TEMPLATE/islamic_content.md
  .github/REPOSITORY_INFO.md
  .github/SECURITY.md
  .github/SUPPORT.md
  .github/discussions.yml
  .github/workflows/community.yml
  PERFORMANCE_MONITORING_SUMMARY.md
  data/verses.json
  src/core/main.py
  src/core/security.py
  src/monitoring/daily_reporter.py
  src/monitoring/performance_monitor.py
  src/services/database_service.py
  src/services/state_service.py
Due: islamic-content-validation

Add comprehensive webhook logging for Discord API failures, user analytics, bot lifecycle events, and extension management
  src/analytics/user_analytics.py
  src/bot/modernized_bot.py
  src/commands/__init__.py
  src/utils/api_monitor.py
Due: none

Add webhook logging enhancements to control panel for comprehensive monitoring
  src/utils/control_panel.py
Due: none

Fix webhook logging: distinguish between actual stops and transitions (skips/changes)
  dashboard/.env.example
  dashboard/README.md
  dashboard/app.py
  dashboard/config.py
  dashboard/requirements.txt
  dashboard/run_dashboard.py
  dashboard/static/css/dashboard.css
  dashboard/static/js/dashboard.js
  src/services/audio_service.py
Due: none

Fix webhook embeds: ensure bot profile picture is always shown as thumbnail
  data/quranbot.db-shm
  data/quranbot.db-wal
  src/core/webhook_logger.py
Due: none

Fix dashboard: handle missing database tables gracefully
  dashboard/app.py
  data/quranbot.db-shm
  data/quranbot.db-wal
  quranbot-dashboard.service
Due: none

Fix dashboard Flask app context errors for background updates
  dashboard/app.py
Due: none

Fix dashboard: ensure all expected keys exist in Islamic content stats
  dashboard/app.py
Due: none

Add debugging to dashboard API to identify NoneType error
  dashboard/app.py
Due: none

Add None checks to dashboard API functions
  dashboard/app.py
Due: none

Add fallback icons for dashboard to handle Font Awesome loading issues
  quranbot-dashboard.conf
  quranbot-dashboard.service
Due: none

Remove all webhook logging functionality - keeping only dashboard monitoring
  WEBHOOK_MONITORING_SUMMARY.md
  dashboard/README.md
  dashboard/deploy/README.md
  dashboard/deploy/deploy.sh
  dashboard/deploy/nginx.conf
  dashboard/deploy/quranbot-dashboard.service
  dashboard/deploy/start_dashboard.sh
  dashboard/quranbot-dashboard.service
  dashboard/start_dashboard.sh
  main.py
  src/analytics/user_analytics.py
  src/commands/__init__.py
  src/commands/verse.py
  src/core/webhook_charts.py
  src/core/webhook_factory.py
  src/core/webhook_logger.py
  src/core/webhook_router.py
  src/monitoring/performance_monitor.py
  src/services/audio_service.py
  src/utils/webhook_utils.py
  tests/test_webhook_logger.py
Due: none

Remove remaining webhook references from core services
  src/services/audio_service.py
  src/services/database_service.py
  src/services/state_service.py
  src/utils/control_panel.py
Due: none

Remove webhook functionality from health monitor
  src/core/health_monitor.py
Due: none

Remove webhook functionality from heartbeat monitor
  dashboard/app.py
  src/core/heartbeat_monitor.py
Due: none

Remove webhook functionality from security module
  src/core/security.py
  src/monitoring/bot_status_monitor.py
Due: none

Remove webhook functionality from question command
  src/bot/modernized_bot.py
  src/commands/question.py
Due: none

Remove all webhook functionality - legacy system cleanup
  dashboard/app.py
  data/discord_api_monitor.json
  src/bot/modernized_bot.py
  src/core/database.py
  src/core/main.py
  src/monitoring/bot_status_monitor.py
  src/services/database_service.py
  start_bot.py
Due: islamic-content-validation

Add missing data_directory field to main config
  dashboard/app.py
  src/config/config.py
Due: config-validation

Fix DatabaseManager parameter name from max_pool_size to max_connections
  dashboard/static/css/dashboard.css
  dashboard/static/js/dashboard.js
  migrate_database.py
  src/bot/modernized_bot.py
Due: none

Add version tracking and changelog for v1.0.0
  CHANGELOG.md
  app/version.py
  pyproject.toml
Due: none

Update README to reflect current features and architecture
  README.md
Due: none

Remove GitHub Actions workflows
  .github/workflows/tests.yml.disabled
  data/state/bot_state.json
  data/state/bot_state_backup.json
  data/state/presence.json
Due: islamic-content-validation

Fix KeyError for 'has_arabic' in AI service
  app/services/ai/ai_service.py
  data/databases/quranbot.db-shm
  data/databases/quranbot.db-wal
  data/state/bot_state.json
  data/state/bot_state_backup.json
  data/state/presence.json
Due: islamic-content-validation
